[mysqld]
    max_connections=350
    log-bin=/var/log/mysql/mysql-bin
    log-bin-index=/var/log/mysql/mysql-bin.index
    binlog-format = 'ROW'
    default-storage-engine=innodb
    innodb_autoinc_lock_mode=2
    innodb_rollback_on_timeout=1
    innodb_lock_wait_timeout=600

    innodb_doublewrite=1
    innodb_support_xa = 0

    innodb_flush_log_at_trx_commit=0
    bind-address=0.0.0.0

    wsrep_provider=/usr/lib/galera/libgalera_smm.so
    wsrep_cluster_address="gcomm://172.31.0.10,172.31.0.11,172.31.0.12"
    wsrep_on=ON

    wsrep_cluster_name="cluster"

    wsrep_sst_method=rsync

    wsrep_node_address="{{ ansible_default_ipv4.address }}"
    wsrep_node_name="node{{ ansible_default_ipv4.address[-1] | int + 1}}s"
